@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: goldenrod!important;
  margin: 0;
  padding: 0;
}

// Products View
.product-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;

}

.product-form {
  justify-content: center;
  padding: 2em;
  margin-top:  .5em 0;
}
.product-form textarea {
  margin: .5em 0 .5em 0;
}

.add-btn {
  justify-content: center;
  margin-left: 35rem;
}

.form-header {
  margin-left: 35rem;
  padding: 2em;
}

.form-control {
  width:80% ;
  margin: .5em 0 .5em 0;
}

.form-container {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
}

.card-btn-container {
  justify-content: space-evenly;
  margin-left: .5rem;
}

.card-btn-container .btn {
  margin: 0 .25em 0 .25em;
  text-shadow: none;
  width: auto;
  text-align: center;
  float:left;
  width: 80px;
  height: 40px;
}


// .form-btn-group {
//   // margin-top: .5em;
//   display: flex;
//   justify-content: center;
// }