@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: goldenrod!important;
  margin: 0;
  padding: 0;
}

// Products View
.product-view {
    display: flex;
}
