@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: rgb(42, 41, 38)!important;
  margin: 0;
  padding: 0;
}
// Navbar
.navbar {
  background-color: gray;
  color:white;
  font-size: 1.1em;
}

.nav-logo {
  // font-family: "Forgotten Junk";
  margin-left: .5em;
  font-weight: 500;
  font-size:1000;

}

.user-img {
  width: 2em;
  margin: -1em .5em -1em 0;
  border: 1px transparent;
  border-radius: 100px;
}

.dropdown-menu.show {
  margin-left: 1em;
  background-color: #f8f9fa;
  margin-top: .46em;
}

.dropdown-menu.show .nav-link {
  color:darkred;
  height: 2em;
  width: 1.5rem;
  text-align: center;
  margin-top: -1em;
  line-height: 2em;
}

.user-menu {
  margin-left: auto;
  margin-right: 1em;
}

// Products View
.product-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;

}

.product-form {
  justify-content: center;
  padding: 2em;
  margin-top:  .5em 0;
}
.product-form textarea {
  margin: .5em 0 .5em 0;
}

.add-btn {
  justify-content: center;
  margin-left: 35rem;
}

.form-header {
  margin-left: 35rem;
  padding: 2em;
}

.form-control {
  width:80% ;
  margin: .5em 0 .5em 0;
}

.form-container {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
}

.card-btn-container {
  justify-content: space-evenly;
  margin-left: .5rem;
}

.card-btn-container .btn {
  margin: 0 .25em 0 .25em;
  text-shadow: none;
  width: auto;
  text-align: center;
  float:left;
  width: 80px;
  height: 40px;
}
.card-btn-container {
  margin: auto 0 1em 0
}

// Details View
.products-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 5em 0 5em;
  padding: 5em 0 5em 0;
}

.item-details-img {
  width: 30em;
  height: fit-content;
  margin-bottom: 2em;
}
.form-view-header {
  color:white;
  margin-left: 40rem;
  padding-top: 4rem;
}
.add-btn {
  width: 80px;
  height: 40px;
}
.signout-btn {
  width: 20px;
  height: 40px; 
}
.welcome-page {
  color:white;
  margin-left: 4rem;
  padding-top: 2rem;
}
.edit-view {
  margin-left: 40rem;
  padding-top: 4rem;
}
.item-title-header {
  text-align: center;
  font-weight: bolder;
  background-color: lightgray;
}
.product-image {
  height: 300px;;
}